
@model List<MvcViewEngine.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

<main>
    <h1>List of Products: </h1>

    @foreach (var i in Model)
            {
                <p>@i.Name - @i.Price</p>
            }


</main>
@*// what is view engine?*@
@*=> html + c# convert to pure html
=> responsible for creating html
=> view engine finds out which views is for which action methods.

Razor View: is a viewengine*@